<div style="margin-bottom:20px;">
<center>
  <button id="upload_btn">Upload a photo</button>
</center>
</div>
<div id="main">



      <ul id="tiles">



        <!-- These are our grid blocks -->
        <% for i in 1..1 %>
          <% @posts.each do |p| %>
              <li><%= image_tag(p.postphoto.thumb, :size=>'262x262') if p.postphoto? %>
                <div class="star" data-score="<%= p.rating %>" style="text-align:center;padding-top:10px;"></div>
                <div><%= p.text %></div>
                <div>@<%= p.location %></div>
                <hr>
                <div>View 1,066 comments</div>
              </li>
          <% end %>
        <% end %>
      </ul>
</div>


<!-- upload section -->
<div id="upload_post" style="display:none">
        <li>
            <%= form_for @post, url: {controller:"posts", action: "create_pic"}, :remote => true, :html => {:'data-type' => 'json'} do |f| %>
              <%= f.text_area :text, size: "60x3" %>
              <%= f.hidden_field :author_id %>
              <%= f.hidden_field :wall_id %>
              <%= f.file_field :postphoto %>
              <%= f.text_field :title %>
              <%= f.text_field :rating %>
              <%= f.text_field :location %>
              <a class="btn" href="#"><i class="icon-camera"></i></a>
              <a class="btn" href="#"><i class="icon-map-marker"></i></a>
              <%= f.submit "Share", :class =>'btn btn-primary'%>
            <% end %>
        </li>
</div>


<table id="homewall" style="display:none">
    <% @posts.each do |p| %>
      <% break %>
      <tr id="post_<%= p.id%>">
        <td><%= p.text %></td>
        <td><%= p.title %></td>
        <td><%= p.rating %></td>
        <td><%= p.location %></td>
        <td><%= image_tag(p.postphoto.small_thumb) if p.postphoto? %> </td>
        <td>
          <%= button_to "delete", {:controller => :posts,
        :action => 'destroy', :id => p.id }, :method => :delete,:remote => true %>
                           </td>
      </tr>
    <% end %>
  </table>  

