<div>
	<center>
	  <%= link_to t('site.name'), root_path, :class => 'header_logo' %>
		
	  <input type="text" class="searchbar" placeholder="Find food or restaurant" >
	  <input type="text" class="searchbar" placeholder="Near Orange, CA">
	  <input type="button" class="search-icon">
		  <% if user_signed_in? %>
			<span class="menu-btn-group" style="height:32px !important;margin-left: 25px;">
				<% if @user.avatar? %>
					<%= image_tag(@user.avatar.small_thumb.url, size: "32x32", :class => "header_border") %>
  				<% else %>
					<%= image_tag('/assets/avatar.jpg', size: "32x32", :class => "header_border") %> 
				<% end %>
			  <a class="menu-name" href="/"><%= @user.display_name %></a>
			  <button class="menu-toggle-btn" data-toggle="dropdown">
			    <span class="menu-button"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li>
			    	<%= link_to('Edit account', edit_user_registration_path) %>
			    </li>
			    <li>
			    	<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
			    </li>
			  </ul>
			</span>
		  <% end %>
	</center>
</div>